# Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de entorno
.env
*.env
.venv/
venv/

# Archivos de logs
logs/
*.log

# Archivos temporales
*.tmp
*.bak
*.swp

# Archivos de pruebas
*prueba*
*pruebas*
pruebas.py
*test.py

# Archivos de Excel u otros binarios
*.xlsx

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
